accelerate
codetiming
datasets
liger-kernel
numpy
omegaconf
pandas
peft
pillow
pyarrow>=15.0.0
pylatexenc
qwen-vl-utils
ray[default]
tensordict
torchdata
transformers==4.55.4
wandb
ninja
ninja2
packaging
latex2sympy2_extended==1.10.2
flashinfer-python==0.5.0 
flashinfer-cubin==0.5.0 
vllm==0.10.2
hydra-core
omegaconf
swanlab
pynvml
pysnooper==1.2.3
torchcodec==0.7
ffmpeg
ffmpeg-python
torchao
seaborn
fastmcp
decord
mathruler
math-verify
tensorboard
opencv-python-headless==4.11.0.86
huggingface-hub